<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_head.ejs') %>
<body>
<%- include('./partials/_header.ejs') %>
<main role="main" class="container mt-5">
    <h2>About Sparkle_Manager_</h2>
    <p>This application is designed to streamline the management of your face painting business. From tracking leads and gigs to managing finances and generating year-end tax reports, Sparkle_Manager_ has got you covered.</p>
</main>
<%- include('./partials/_footer.ejs') %>
</body>
</html>