<!DOCTYPE html>
<html lang="en">
<%- include('../partials/_head.ejs') %>
<body>
<%- include('../partials/_header.ejs') %>
<main role="main" class="container mt-5">
    <h2>Profile Settings</h2>
    
    <!-- Display connection status and provide options based on that status -->
    <% if (isConnectedToGoogle) { %>
      <p>Your account is currently connected to Google Calendar.</p>
      <a href="/auth/google/disconnect" class="btn btn-danger">Disconnect Google Calendar</a>
    <% } else { %>
      <a href="/auth/google" class="btn btn-primary">Connect to Google Calendar</a>
    <% } %>

    <form action="/user/updateProfile" method="POST">
        <!-- Timezone Selection -->
        <div class="mb-3">
            <label for="preferredTimezone">Preferred Timezone</label>
            <select name="preferredTimezone" id="preferredTimezone" required class="form-control">
                <option value="">Select Timezone</option>
                <option value="UTC">UTC</option>
                <option value="America/New_York">America/New_York</option>
                <option value="Europe/London">Europe/London</option>
                <option value="Asia/Tokyo">Asia/Tokyo</option>
                <option value="America/Boise">America/Boise</option>
                <!-- Additional Timezones -->
                <option value="America/Chicago">America/Chicago</option>
                <option value="America/Denver">America/Denver</option>
                <option value="America/Los_Angeles">America/Los_Angeles</option>
                <option value="America/Anchorage">America/Anchorage</option>
                <option value="America/Honolulu">America/Honolulu</option>
                <option value="America/Phoenix">America/Phoenix</option>
                <option value="America/Detroit">America/Detroit</option>
                <option value="America/Indiana/Indianapolis">America/Indiana/Indianapolis</option>
                <option value="America/Kentucky/Louisville">America/Kentucky/Louisville</option>
                <option value="America/Kentucky/Lexington">America/Kentucky/Lexington</option>
                <option value="America/North_Dakota/Center">America/North_Dakota/Center</option>
                <option value="America/North_Dakota/New_Salem">America/North_Dakota/New_Salem</option>
                <option value="America/North_Dakota/Beulah">America/North_Dakota/Beulah</option>
            </select>
        </div>
        <!-- Submit Button -->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>
</main>
<%- include('../partials/_footer.ejs') %>
</body>
</html>